{% extends "base.html" %}

{% block content %}
  <h2>Welcome, {{ current_user.Username }}!</h2>
  <p>Your role: <strong>{{ current_user.role }}</strong></p>

  <ul>
    {% if current_user.role == 'admin' %}
      <li><a href="{{ url_for('users.list_users') }}">Manage Users</a></li>
      <li><a href="{{ url_for('members.list_members') }}">Manage Members</a></li>
      <li><a href="{{ url_for('members.list_membership_plans') }}">Manage Membership Plans</a></li>
      <li><a href="{{ url_for('membership.view_history') }}">Membership History</a></li>
      <li><a href="{{ url_for('trainers.list_trainers') }}">Manage Trainers</a></li>
      <li><a href="{{ url_for('rooms.list_rooms') }}">Manage Rooms</a></li>
      <li><a href="{{ url_for('equipment.list_equipment') }}">Manage Equipment</a></li>
      <li><a href="{{ url_for('classes.list_classes') }}">Manage Classes</a></li>
      <li><a href="{{ url_for('staff.list_staff') }}">Manage Staff</a></li>
      <li><a href="{{ url_for('maintenance.get_logs') }}">Manage Maintenance Logs</a></li>
      <li><a href="{{ url_for('calendar.calendar_view') }}">Manage Calendar</a></li>

    {% elif current_user.role == 'manager' %}
      <li><a href="{{ url_for('members.list_members') }}">Manage Members</a></li>
      <li><a href="{{ url_for('trainers.list_trainers') }}">Manage Trainers</a></li>
      <li><a href="{{ url_for('classes.view_classes') }}">Manage Classes</a></li>
      <li><a href="{{ url_for('staff.view_staff') }}">Manage Staff</a></li>
      <li><a href="{{ url_for('maintenance.get_logs') }}">Manage Maintenance Logs</a></li>
    {% elif current_user.role == 'trainer' %}
      <li><a href="{{ url_for('calendar.calendar_view') }}">View Class Schedule</a></li>
    {% elif current_user.role == 'member' %}
      <li><a href="{{ url_for('calendar.calendar_view') }}">Manage My Classes</a></li>
    {% endif %}
  </ul>
{% endblock %}